**Source Code kNN IF-43-08 Kelompok 8**

Dicky Adi Naufal Farhansyah / 1301194041

Joshua Erlangga Sakti / 1301190226

Wahid Firgiyanto / 1301194287

In [ ]:
# libraries
import pandas as pd
import math
import xlwt

# Assist Functions

In [ ]:
# Euclidean distance 
def euclideanDistance(x, y) :
  ret = float(0)
  l = len(x)
  for i in range(1, l) :
    ret += math.pow((x[i]-y[i]), 2)
  ret = math.pow(ret, 0.5)
  return ret

In [ ]:
# Manhattan distance 
def manhattanDistance(x, y) :
  ret = float(0)
  l = len(x)
  for i in range(1, l) :
    ret += abs(x[i]-y[i])
  return ret

In [ ]:
# Minkowski distance 
def minkowskiDistance(x, y) :
  ret = float(0)
  l = len(x)
  for i in range(1, l) :
    ret += math.pow(abs(x[i]-y[i]), 1.5)
  ret = math.pow(ret, 1/1.5)
  return ret

In [ ]:
# Supremum distance 
def supremumDistance(x, y) :
  ret = float(0)
  l = len(x)
  for i in range(1, l) :
    ret = max(ret, abs(x[i]-y[i]))
  return ret

In [ ]:
# menambahkan id untuk list
def tagging(x) :
  ret = []
  l = len(x)
  for i in range(l) :
    tmp = []
    tmp.append(i)
    tmp.append(x[i])
    ret.append(tmp)
  return ret

In [ ]:
# mengkoversikan id menjadi nama mobil pada data
def convertID(x, data) :
  ret = []
  for i in range(len(x)) :
    ret.append(data[x[i][0]][0])
  return ret

In [ ]:
# mencari top 3 dari list
def findTop3(data) :
  ret = data
  ret.sort(key= lambda x : x[1])

  ret = ret[:3]
  return ret

# Main

In [ ]:
# MAIN

# membaca file excel
dataset = pd.read_excel('mobil.xls')
datainput = pd.read_excel('test.xls')

# konversi datainput ke list
user_input = ['none']
user_input.append(datainput['Ukuran'][0])
user_input.append(datainput['Kenyamanan'][0])
user_input.append(datainput['Irit'][0])
user_input.append(datainput['Kecepatan'][0])
user_input.append(datainput['Harga (Ratus Juta)'][0])
#user_input = ['none', 8, 7, 7, 7, 2]

# konversi dataset ke list
n = len(dataset['Nama Mobil'])
data = []
for i in range(n) :
  data.append([dataset['Nama Mobil'][i], dataset['Ukuran'][i], dataset['Kenyamanan'][i], dataset['Irit'][i], dataset['Kecepatan'][i], dataset['Harga (Ratus Juta)'][i]])
  
user_input

['none', 6, 9, 6, 9, 6]

In [ ]:
# perhitungan jarak
euclidean_dist = []
for i in range(n) :
  euclidean_dist.append(euclideanDistance(user_input, data[i]))
euclidean_dist = tagging(euclidean_dist)
print('euclidean\n', *euclidean_dist, sep='\n')

manhattan_dist = []
for i in range(n) :
  manhattan_dist.append(manhattanDistance(user_input, data[i]))
manhattan_dist = tagging(manhattan_dist)
print('\nmanhattan\n', *manhattan_dist, sep='\n')

minkowski_dist = []
for i in range(n) :
  minkowski_dist.append(minkowskiDistance(user_input, data[i]))
minkowski_dist = tagging(minkowski_dist)
print('\nminkowski\n', *minkowski_dist, sep='\n')

supremum_dist = []
for i in range(n) :
  supremum_dist.append(supremumDistance(user_input, data[i]))
supremum_dist = tagging(supremum_dist)
print('\nsupremum\n', *supremum_dist, sep='\n')

In [ ]:
# mencari 3 nilai yang terdekat
euclidean_top3 = findTop3(euclidean_dist)
manhattan_top3 = findTop3(manhattan_dist)
minkowski_top3 = findTop3(minkowski_dist)
supremum_top3 = findTop3(supremum_dist)

print('top 3 euclidean\n', euclidean_top3)
print('\ntop 3 manhattan\n', manhattan_top3)
print('\ntop 3 minkowski\n', minkowski_top3)
print('\ntop 3 supremum\n', supremum_top3)

top 3 euclidean
 [[14, 1.4142135623730951], [12, 3.605551275463989], [7, 3.7416573867739413]]

top 3 manhattan
 [[14, 2.0], [13, 6.5], [12, 7.0]]

top 3 minkowski
 [[14, 1.5874010519681994], [12, 4.389389367205288], [13, 4.447107111127629]]

top 3 supremum
 [[14, 1], [7, 2], [12, 3]]

In [ ]:
# mengubah id menjadi nama mobil
out1 = convertID(euclidean_top3, data)
out2 = convertID(manhattan_top3, data)
out3 = convertID(minkowski_top3, data)
out4 = convertID(supremum_top3, data)

print('rekomendasi euclidean\n', out1)
print('\nrekomendasi manhattan\n', out2)
print('\nrekomendasi minkowski\n', out3)
print('\nrekomendasi supremum\n', out4)

rekomendasi euclidean
 ['Toyota Corolla Altis', 'Toyota Fortuner', 'Toyota Innova']

rekomendasi manhattan
 ['Toyota Corolla Altis', 'Toyota Foxy', 'Toyota Fortuner']

rekomendasi minkowski
 ['Toyota Corolla Altis', 'Toyota Fortuner', 'Toyota Foxy']

rekomendasi supremum
 ['Toyota Corolla Altis', 'Toyota Innova', 'Toyota Fortuner']

# Export

In [ ]:
# euclidean
row = 0
column = 0

book = xlwt.Workbook(encoding='utf-8')
sheet1 = book.add_sheet('Sheet 1')


for item in out1 :
  sheet1.write(row,column,item)
  row += 1

book.save('rekomendasi_euclidean.xls')

In [ ]:
# manhattan
row = 0
column = 0

book = xlwt.Workbook(encoding='utf-8')
sheet1 = book.add_sheet('Sheet 1')


for item in out2 :
  sheet1.write(row,column,item)
  row += 1

book.save('rekomendasi_manhattan.xls')

In [ ]:
# minkowski
row = 0
column = 0

book = xlwt.Workbook(encoding='utf-8')
sheet1 = book.add_sheet('Sheet 1')


for item in out3 :
  sheet1.write(row,column,item)
  row += 1

book.save('rekomendasi_minkowski.xls')

In [ ]:
 # supremum
row = 0
column = 0

book = xlwt.Workbook(encoding='utf-8')
sheet1 = book.add_sheet('Sheet 1')


for item in out4 :
  sheet1.write(row,column,item)
  row += 1

book.save('rekomendasi_supremum.xls')